* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    color: black;
    background-color: antiquewhite;
    line-height: 1.6;

}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: #2c3e50;

}

p {
    margin-bottom: 12px;
}

a {
    color: #2a6bf2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;

}

nav {
    background-color: black;
}

nav li {
    display: inline-block;
    margin: 0 12px;
}

#vantagens ul{
    list-style-type: square;
    margin-left: 20px;
}

#vantagens li {
    margin-bottom: 8px;
}